html, body{
    background-color: rgb(255, 154, 3);
    height: 100%;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 2.5vh;
    overscroll-behavior-y: none;
}

.header{
    text-align: center;
    margin: 0px;
    height: 6%;
}
.restWalker_title{
    height: 5%;
}
.restWalker_title_frame{
    font-weight: bolder;
    display: table;
}
.restWalker_title_label{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2.5vh;
}
.restWalker_header{
    width: 100%;
    height: 8%;
    padding: 1vh 0px;
    text-align: center;
}
.restWalker_header_search{
    display: table;
    height: 100%;
}
#restWalker_header_search_label{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;

}
.restWalker_header_search_form{
    padding: 0px;
    display: table;
    height: 100%;

}

/* .inputFrame{
    height: 94%;
}
 */

 #map_content{
    width: 100%;
    /* height: 40%; */
    overflow: auto;
 }
 #map_content::-webkit-scrollbar {
    display: none;
  }
 #cluster_list{
    background-color: white;
 }

/* map 사이즈 조절 */
#map{
    width: 100%;
    height: 86%;
    transition-property:height;
    transition-duration:1s;
    margin-top:1vh;
}
 /* CSS 미세 조절 */
 #padding_zero{
    padding :0px!important;
 }

#margin_zero{
    margin : 0px!important;
}
#button-wrapper{
    text-align: center;
}

#info-title{
    font-size: 0.7vw;
    color: black;
    text-align: center;

}
#marker-title{
    color:white;
    font-weight: bold;
}

#region_form_dong{
    font-size: 1.5vh;
}