@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
    height: 100%;
    font-family: 'GmarketSansMedium', sans-serif;
    font-size: 2.5vh;
    overscroll-behavior-y: none;
}
body::-webkit-scrollbar {
    display: none;
}

.header{
    text-align: center;
    margin: 0px;
    height: 6%;
}
.restWalker_title{
    height: 5%;
    color: white;
    background-color: #0d6efd;
}
.restWalker_title_frame{
    font-weight: bolder;
    display: table;
}
.restWalker_title_label{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2.5vh;
}
.restWalker_header{
    width: 100%;
    height: 8%;
    padding: 1vh 0px;
    text-align: center;
}
.restWalker_header_search{
    display: table;
    height: 100%;
}
#restWalker_header_search_label{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;

}
.restWalker_header_search_form{
    padding: 0px;
    display: table;
    height: 100%;

}

 #map_content{
    width: 100%;
    height: 30%;
    overflow: auto;
    background-color: #0d6efd;

 }

 #map_content::-webkit-scrollbar {
    display: none;
  }
 #cluster_list{
    background-color: white;
 }

/* map 사이즈 조절 */
#map{
    width: 100%;
    height: 100%;
    transition-property:bottom;
    transition-duration:1s;
    /* margin-top:1vh; */
}

#map_inner {
    position:absolute;
    bottom:0%;
    overflow:auto;
    width:100%;
    height:0%;
    margin:0;
    padding:0;
    z-index:1;
    border: 1px grey solid;
    background-color: white;
    transition-property:height;
    transition-duration:1s;
}
#map_inner::-webkit-scrollbar {
    display: none;
}
.map-custom-movedong {
    position:absolute;
    top:2vh;
    left:10px;
    overflow:hidden;
    width:30%;
    height:6%;
    margin:0;
    padding:0;
    z-index:1;
    font-size:12px;
    display: flex;
    align-items: center;
}
.map-custom-geolocation{
    position:absolute;
    top:2vh;
    right:10px;
    overflow:hidden;
    width:10%;
    height:6%;
    margin:0;
    padding:0;
    z-index:1;
    font-size:12px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

 /* CSS 미세 조절 */
 #padding_zero{
    padding :0px!important;
 }

#margin_zero{
    margin : 0px!important;
}
#button-wrapper{
    text-align: center;
}

#info-title{
    font-size: 0.7vw;
    color: black;
    text-align: center;

}
#marker-title{
    color:black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    height: 2rem;
}
#marker-content{
    height: 100%;

}
#marker-summary{
    color: #41464b;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    height: 2rem;
}
#marker-summary-button{
    display: flex;
    justify-content: center;
    /* margin: 1rem 0px; */
    height: 2rem;
}
#marker-summary-button-input{
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    margin: 0px 0.5rem;
    font-weight: 600;
    border: 1px rgb(140, 140, 140) solid;
    padding: 0px 0.5rem;
    cursor: pointer
}

#marker-toilet-img{
    padding: 2rem;

}
#carousel-wrapper{
    transition-property:height;
    transition-duration:4s;
}
#marker-list-title{
    color:black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    height: 2rem;
}
#marker_list{
    color: #41464b;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
}

#region_form_dong{
    font-size: 1.5vh;
    height: 100%;
}
.map_wrap {
    position:relative;
    overflow:hidden;
    width:100%;
    height:95%;
}


/* img{
width: 2.9rem;
height: auto;
} */

li{
    list-style: none;
}

ul{
    padding:0px;
    margin:0px;
}
.img-upload{
    width: 15rem;
}

.img-preview{
    width: 100%;
    margin: 1rem 0px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
    padding: 0px 1rem;
}
#img-preview-node{
    width: 2.9rem;
}
#carousel{
    display: flex;
}
.prev-button{
    cursor: pointer;
    width: 2.9rem;
}
.next-button{
    cursor: pointer;
    width: 2.9rem;
}
#button-markerinfo{
    color: #41464b;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    background-color: white;
    /* border-radius: 0.5rem; */
    font-weight: 600;
    border: 1px rgb(140, 140, 140) solid;
    padding: 0px 0.5rem;
    cursor: pointer;
}


.form-select{
    width: 100%;
}
#form-radio{
    display: flex;
    justify-content: space-between;
    margin: auto 1rem;
    align-items: center;
    font-size: 0.7rem;
}
.form-radio{
    margin:2vw
}

#triangle{
    transform-origin: 50% 50%;
}